<!doctype html>
<html lang="zh_TW">
<head>
    <meta charset="UTF-8">
    <!-- vuetify -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登入系統</title>
</head>
<body>
<v-app id="app">
    <v-container>
        <v-row align="center">
            <v-form>
                <v-row>
                    <v-text-field label="Account" name="account" v-model="account"></v-text-field>
                </v-row>
                <v-row>
                    <v-text-field label="Password" type="password" name="password" v-model="password"></v-text-field>
                </v-row>
                <v-row>
                    <v-btn outlined color="success" @click="submit">submit</v-btn>
                    <v-btn outlined color="primary" @click="register">register</v-btn>
                    <v-btn outlined color="error" @click="remove">delete</v-btn>
                    <v-btn outlined color="warning" @click="change">change</v-btn>
                </v-row>
            </v-form>
            <v-row justify="space-around">
                Result: <br>
                {{ result }}
            </v-row>
        </v-row>
    </v-container>
</v-app>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

<script>
    const DOMAIN = "http://localhost:8001";
    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data() {
            return {
                account: "",
                password: "",
                result: ""
            }
        },
        methods: {
            submit() {
                let para = {
                    account: this.account,
                    password: this.password,
                };
                axios.get(DOMAIN + "/v1/user/login", para).then(res => {
                    this.result = res.data;
                }).catch(err => {
                    this.result = err.response.data;
                })
            },
            register() {
                let para = {
                    account: this.account,
                    password: this.password,
                };
                axios.post(DOMAIN + "/v1/user/create", para).then(res => {
                    this.result = res.data;
                })
            },
            remove() {
                let para = {
                    account: this.account,
                };
                axios.post(DOMAIN + "/v1/user/delete", para).then(res => {
                    this.result = res.data;
                })
            },
            change() {
                let para = {
                    account: this.account,
                    password: this.password,
                };
                axios.post(DOMAIN + "/v1/user/pwd/change", para).then(res => {
                    this.result = res.data;
                })
            }
        }
    })


</script>
</html>