<!doctype html>
<html lang="zh_TW">
<head>
    <meta charset="UTF-8">
    <!-- vuetify -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登入系統</title>
</head>
<body>
<v-app id="app">
    <v-container>
        <v-col>
            <v-alert dense type="success" v-show="alert == 1">登入成功</v-alert>
            <v-alert dense type="error" v-show="alert == 2">請確認密碼無誤</v-alert>
            <v-alert dense type="success" v-show="alert == 3">新會員註冊成功</v-alert>
            <v-alert dense type="error" v-show="alert == 4">帳號已被使用</v-alert>
            <v-alert dense type="info" v-show="alert == 5">密碼已修改</v-alert>
        </v-col>
        <v-row align="center">
            <v-col>
                <v-form>
                    <v-row>
                        <v-text-field label="Account" name="account" v-model="account" required></v-text-field>
                    </v-row>
                    <v-row>
                        <v-text-field label="Password" type="password" name="password"
                                      v-model="password"></v-text-field>
                    </v-row>
                    <v-row justify="end">
                        <v-btn outlined color="success" @click="submit">submit</v-btn>
                        <v-btn outlined color="primary" @click="register">register</v-btn>
                    </v-row>
                </v-form>
            </v-col>
            <v-col>
                <v-card class="mx-auto" max-width="500">
                    <v-list dense>
                        <v-subheader>User List</v-subheader>
                        <v-list-item-group v-model="user" color="primary">
                            <v-list-item v-for="(user, i) in users" :key="i">
                                <v-list-item-icon>
                                    <v-icon>mdi-account</v-icon>
                                </v-list-item-icon>
                                <v-list-item-content>
                                    <v-list-item-title v-text="user.Account"></v-list-item-title>
                                </v-list-item-content>
                                <v-list-item-action>
                                    <v-btn icon @click="change(user)">
                                        <v-icon color="orange lighten-1">mdi-pencil</v-icon>
                                    </v-btn>
                                </v-list-item-action>
                                <v-list-item-action>
                                    <v-btn icon @click="remove(user)">
                                        <v-icon color="error lighten-1">mdi-close</v-icon>
                                    </v-btn>
                                </v-list-item-action>
                            </v-list-item>
                        </v-list-item-group>
                    </v-list>
                </v-card>
            </v-col>
        </v-row>
        <v-col>
            <v-row justify="space-around" style="background-color:ghostwhite; border-radius: 10px;">
                <div><p class="font-weight-black">Result:</p>
                    {{ result }}
                </div>
            </v-row>
        </v-col>
    </v-container>
</v-app>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

<script>
    const DOMAIN = "http://localhost:8001";
    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data() {
            return {
                user: {},
                users: {},
                account: "",
                password: "",
                result: "",
                alert: 0
            }
        },
        methods: {
            submit() {
                let para = {
                    account: this.account,
                    password: this.password,
                };
                axios.get(DOMAIN + "/v1/user/login", {
                    params: para
                }).then(res => {
                    this.result = res.data;
                    this.alert = 1;
                }).catch(err => {
                    this.alert = 2;
                    // this.alert.text = err.response.data.Message;
                    this.result = err.response.data;
                })
            },
            register() {
                let para = {
                    account: this.account,
                    password: this.password,
                };

                axios.post(DOMAIN + "/v1/user/create", para).then(res => {
                    this.result = res.data;
                    if (res.data.Result.IsOK == true) {
                        this.alert = 3
                    } else {
                        this.alert = 4
                    }

                    this.refreshUserList();
                })
            },
            remove(user) {
                let para = {
                    account: user.Account
                };
                axios.post(DOMAIN + "/v1/user/delete", para).then(res => {
                    this.result = res.data;
                    this.refreshUserList();
                })
            },
            change(user) {
                let password = prompt("" + user.Account + "的新密碼為？");
                let para = {
                    account: user.Account,
                    password: password,
                };

                axios.post(DOMAIN + "/v1/user/pwd/change", para).then(res => {
                    this.result = res.data;
                    this.alert = 5;
                    this.refreshUserList();
                })
            },
            refreshUserList() {
                axios.get(DOMAIN + "/v1/users").then(res => {
                    this.users = res.data
                })
            }
        },
        mounted() {
            this.refreshUserList();
        }
    })


</script>
</html>